<div class="conf__section-inner container">
  <div class="conf__title-block">
    <h2 class="conf__title"><span>Выбери свою<br> <small>конфигурацию</small></span></h2>
    <p class="conf__step">
      <span class="conf__step-number">1</span>
      <span class="conf__step-title">Размер: <span class="js-conf-size">S</span></span>
    </p>
  </div>

  <div class="js-configs-list conf__list">
    <div class="conf__list-item slick-current" data-size="s">
      <div class="conf-item">
        <div class="conf-item__image-block">
          <div class="conf-item__image conf-item__image--s"><img width="220" height="220" src="images/content/conf/img_1.png" alt="alt"></div>
          <p class="conf-item__size">SMALL</p>
        </div>
        <p class="conf-item__perf-title">Производительность</p>
        <div class="conf-item__perf">
          <div class="conf-item__perf-item is-active"></div>
          <div class="conf-item__perf-item is-active"></div>
          <div class="conf-item__perf-item is-active"></div>
          <div class="conf-item__perf-item"></div>
          <div class="conf-item__perf-item"></div>
        </div>
        <div class="conf-item__config-block">
          <div class="conf-item__config-inner">
            <div class="part">
              <svg class="part__icon" aria-hidden="true"><use xlink:href="#p_guarantee" /></svg>
              <div class="part__info">
                <p class="part__title">Гарантия</p>
                <p class="part__description">24 месяца</p>
              </div>
            </div>
            <div class="part">
              <svg class="part__icon" aria-hidden="true"><use xlink:href="#p_cpu" /></svg>
              <div class="part__info">
                <p class="part__title">Процессор</p>
                <p class="part__description">AMD Ryzen R5 3600 6-и ядерный 3.6 GHz</p>
              </div>
            </div>
            <div class="part">
              <svg class="part__icon" aria-hidden="true"><use xlink:href="#p_gpu" /></svg>
              <div class="part__info">
                <p class="part__title">Видеокарта</p>
                <p class="part__description">AMD Radeon 5500XT 8GB</p>
              </div>
            </div>
            <div class="part">
              <svg class="part__icon" aria-hidden="true"><use xlink:href="#p_mother" /></svg>
              <div class="part__info">
                <p class="part__title">Системная плата</p>
                <p class="part__description">ROG STRIX B550 mITX 2xDDR4 2xM.2 / 1xPCI-E x16 / Sound 7.1</p>
              </div>
            </div>
            <div class="part">
              <svg class="part__icon" aria-hidden="true"><use xlink:href="#p_ram" /></svg>
              <div class="part__info">
                <p class="part__title">Оперативная память</p>
                <p class="part__description">32GB 3000Mhz 2 x 16Gb DDR4 Black</p>
              </div>
            </div>
            <div class="part">
              <svg class="part__icon" aria-hidden="true"><use xlink:href="#p_ssd" /></svg>
              <div class="part__info">
                <p class="part__title">Системный SSD</p>
                <p class="part__description">240Gb M.2 Скорость W/R: 350/500 Мб/с</p>
              </div>
            </div>
          </div>
          <button class="js-conf-open conf-item__config-button" type="button">
            <svg class="conf-item__config-button-icon" aria-hidden="true">
              <use xlink:href="#arrow_down" />
            </svg>
          </button>
        </div>
      </div>
    </div>
    <div class="conf__list-item" data-size="m">
      <div class="conf-item">
        <div class="conf-item__image-block">
          <div class="conf-item__image conf-item__image--m"><img width="220" height="220" src="images/content/conf/img_2.png" alt="alt"></div>
          <p class="conf-item__size">MEDIUM</p>
        </div>
        <p class="conf-item__perf-title">Производительность</p>
        <div class="conf-item__perf">
          <div class="conf-item__perf-item is-active"></div>
          <div class="conf-item__perf-item is-active"></div>
          <div class="conf-item__perf-item is-active"></div>
          <div class="conf-item__perf-item"></div>
          <div class="conf-item__perf-item"></div>
        </div>
        <div class="conf-item__config-block">
          <div class="conf-item__config-inner">
            <div class="part">
              <svg class="part__icon" aria-hidden="true"><use xlink:href="#p_guarantee" /></svg>
              <div class="part__info">
                <p class="part__title">Гарантия</p>
                <p class="part__description">24 месяца</p>
              </div>
            </div>
            <div class="part">
              <svg class="part__icon" aria-hidden="true"><use xlink:href="#p_cpu" /></svg>
              <div class="part__info">
                <p class="part__title">Процессор</p>
                <p class="part__description">AMD Ryzen R5 3600 6-и ядерный 3.6 GHz</p>
              </div>
            </div>
            <div class="part">
              <svg class="part__icon" aria-hidden="true"><use xlink:href="#p_gpu" /></svg>
              <div class="part__info">
                <p class="part__title">Видеокарта</p>
                <p class="part__description">AMD Radeon 5500XT 8GB</p>
              </div>
            </div>
            <div class="part">
              <svg class="part__icon" aria-hidden="true"><use xlink:href="#p_mother" /></svg>
              <div class="part__info">
                <p class="part__title">Системная плата</p>
                <p class="part__description">ROG STRIX B550 mITX 2xDDR4 2xM.2 / 1xPCI-E x16 / Sound 7.1</p>
              </div>
            </div>
            <div class="part">
              <svg class="part__icon" aria-hidden="true"><use xlink:href="#p_ram" /></svg>
              <div class="part__info">
                <p class="part__title">Оперативная память</p>
                <p class="part__description">32GB 3000Mhz 2 x 16Gb DDR4 Black</p>
              </div>
            </div>
            <div class="part">
              <svg class="part__icon" aria-hidden="true"><use xlink:href="#p_ssd" /></svg>
              <div class="part__info">
                <p class="part__title">Системный SSD</p>
                <p class="part__description">240Gb M.2 Скорость W/R: 350/500 Мб/с</p>
              </div>
            </div>
          </div>
          <button class="js-conf-open conf-item__config-button" type="button">
            <svg class="conf-item__config-button-icon" aria-hidden="true">
              <use xlink:href="#arrow_down" />
            </svg>
          </button>
        </div>
      </div>
    </div>
    <div class="conf__list-item" data-size="l">
      <div class="conf-item">
        <div class="conf-item__image-block">
          <div class="conf-item__image conf-item__image--l"><img width="220" height="220" src="images/content/conf/img_3.png" alt="alt"></div>
          <p class="conf-item__size">LARGE</p>
        </div>
        <p class="conf-item__perf-title">Производительность</p>
        <div class="conf-item__perf">
          <div class="conf-item__perf-item is-active"></div>
          <div class="conf-item__perf-item is-active"></div>
          <div class="conf-item__perf-item is-active"></div>
          <div class="conf-item__perf-item"></div>
          <div class="conf-item__perf-item"></div>
        </div>
        <div class="conf-item__config-block">
          <div class="conf-item__config-inner">
            <div class="part">
              <svg class="part__icon" aria-hidden="true"><use xlink:href="#p_guarantee" /></svg>
              <div class="part__info">
                <p class="part__title">Гарантия</p>
                <p class="part__description">24 месяца</p>
              </div>
            </div>
            <div class="part">
              <svg class="part__icon" aria-hidden="true"><use xlink:href="#p_cpu" /></svg>
              <div class="part__info">
                <p class="part__title">Процессор</p>
                <p class="part__description">AMD Ryzen R5 3600 6-и ядерный 3.6 GHz</p>
              </div>
            </div>
            <div class="part">
              <svg class="part__icon" aria-hidden="true"><use xlink:href="#p_gpu" /></svg>
              <div class="part__info">
                <p class="part__title">Видеокарта</p>
                <p class="part__description">AMD Radeon 5500XT 8GB</p>
              </div>
            </div>
            <div class="part">
              <svg class="part__icon" aria-hidden="true"><use xlink:href="#p_mother" /></svg>
              <div class="part__info">
                <p class="part__title">Системная плата</p>
                <p class="part__description">ROG STRIX B550 mITX 2xDDR4 2xM.2 / 1xPCI-E x16 / Sound 7.1</p>
              </div>
            </div>
            <div class="part">
              <svg class="part__icon" aria-hidden="true"><use xlink:href="#p_ram" /></svg>
              <div class="part__info">
                <p class="part__title">Оперативная память</p>
                <p class="part__description">32GB 3000Mhz 2 x 16Gb DDR4 Black</p>
              </div>
            </div>
            <div class="part">
              <svg class="part__icon" aria-hidden="true"><use xlink:href="#p_ssd" /></svg>
              <div class="part__info">
                <p class="part__title">Системный SSD</p>
                <p class="part__description">240Gb M.2 Скорость W/R: 350/500 Мб/с</p>
              </div>
            </div>
          </div>
          <button class="js-conf-open conf-item__config-button" type="button">
            <svg class="conf-item__config-button-icon" aria-hidden="true">
              <use xlink:href="#arrow_down" />
            </svg>
          </button>
        </div>
      </div>
    </div>
    <div class="conf__list-item" data-size="x">
      <div class="conf-item">
        <div class="conf-item__image-block">
          <div class="conf-item__image conf-item__image--x"><img width="220" height="220" src="images/content/conf/img_4.png" alt="alt"></div>
          <p class="conf-item__size">EXTRA</p>
        </div>
        <p class="conf-item__perf-title">Производительность</p>
        <div class="conf-item__perf">
          <div class="conf-item__perf-item is-active"></div>
          <div class="conf-item__perf-item is-active"></div>
          <div class="conf-item__perf-item is-active"></div>
          <div class="conf-item__perf-item"></div>
          <div class="conf-item__perf-item"></div>
        </div>
        <div class="conf-item__config-block">
          <div class="conf-item__config-inner">
            <div class="part">
              <svg class="part__icon" aria-hidden="true"><use xlink:href="#p_guarantee" /></svg>
              <div class="part__info">
                <p class="part__title">Гарантия</p>
                <p class="part__description">24 месяца</p>
              </div>
            </div>
            <div class="part">
              <svg class="part__icon" aria-hidden="true"><use xlink:href="#p_cpu" /></svg>
              <div class="part__info">
                <p class="part__title">Процессор</p>
                <p class="part__description">AMD Ryzen R5 3600 6-и ядерный 3.6 GHz</p>
              </div>
            </div>
            <div class="part">
              <svg class="part__icon" aria-hidden="true"><use xlink:href="#p_gpu" /></svg>
              <div class="part__info">
                <p class="part__title">Видеокарта</p>
                <p class="part__description">AMD Radeon 5500XT 8GB</p>
              </div>
            </div>
            <div class="part">
              <svg class="part__icon" aria-hidden="true"><use xlink:href="#p_mother" /></svg>
              <div class="part__info">
                <p class="part__title">Системная плата</p>
                <p class="part__description">ROG STRIX B550 mITX 2xDDR4 2xM.2 / 1xPCI-E x16 / Sound 7.1</p>
              </div>
            </div>
            <div class="part">
              <svg class="part__icon" aria-hidden="true"><use xlink:href="#p_ram" /></svg>
              <div class="part__info">
                <p class="part__title">Оперативная память</p>
                <p class="part__description">32GB 3000Mhz 2 x 16Gb DDR4 Black</p>
              </div>
            </div>
            <div class="part">
              <svg class="part__icon" aria-hidden="true"><use xlink:href="#p_ssd" /></svg>
              <div class="part__info">
                <p class="part__title">Системный SSD</p>
                <p class="part__description">240Gb M.2 Скорость W/R: 350/500 Мб/с</p>
              </div>
            </div>
          </div>
          <button class="js-conf-open conf-item__config-button" type="button">
            <svg class="conf-item__config-button-icon" aria-hidden="true">
              <use xlink:href="#arrow_down" />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="conf__nav">
    <button class="js-conf-next conf__continue" type="button">
      ПРОДОЛЖИТЬ
      <svg class="conf__continue-icon" aria-hidden="true"><use xlink:href="#continue" /></svg>
    </button>
    <button class="js-conf-next conf__next" type="button" title="Дальше">
      <svg class="conf__next-image" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
        <circle class="conf__next-circle" cx="24" cy="24" r="23.4" stroke-width="1.2"/>
        <path class="conf__next-arrow" d="M36 26.7882L24 16.2L12 26.7882" stroke-width="1.4691" stroke-linecap="round"/>
        <path class="conf__next-arrow" d="M36 32.1883L24 21.6L12 32.1883" stroke-width="1.4691" stroke-linecap="round"/>
      </svg>
    </button>
  </div>
</div>
