<div class="conf__section-inner container">
  <div class="conf__title-block">
    <h2 class="conf__title conf__title--with_button">
      <button class="js-conf-back conf__back" type="button" title="Назад">
        <svg class="conf__back-icon" aria-hidden="true">
          <use xlink:href="#arrow_back" />
        </svg>
      </button>
      <span>Выбери свой<br> <small>дизайн</small></span>
    </h2>
    <p class="conf__step">
      <span class="conf__step-number">2</span>
      <span class="conf__step-title">Дизайн</span>
    </p>
  </div>

  <div class="conf__design design">
    <div class="design__block">
      <div class="design__image"><img class="js-design-image" width="318" height="318" src="images/content/conf/img_5.png" alt=""></div>
    </div>
    <div class="design__block">
      <div class="design__list">
        <div class="design__list-item">
          <input id="design_1" class="design__radio" name="design" type="radio" value="1" checked>
          <label class="js-design-item design__item" for="design_1" data-src="images/content/conf/img_5.png">
            <span><img width="140" height="70" src="images/content/conf/img_6.jpg" alt="alt"></span>
          </label>
        </div>
        <div class="design__list-item">
          <input id="design_2" class="design__radio" name="design" type="radio" value="2">
          <label class="js-design-item design__item" for="design_2" data-src="images/content/conf/img_1.png">
            <span><img width="140" height="70" src="images/content/conf/img_7.jpg" alt="alt"></span>
          </label>
        </div>
        <div class="design__list-item">
          <input id="design_3" class="design__radio" name="design" type="radio" value="3">
          <label class="js-design-item design__item" for="design_3" data-src="images/content/conf/img_2.png">
            <span><img width="140" height="70" src="images/content/conf/img_8.jpg" alt="alt"></span>
          </label>
        </div>
        <div class="design__list-item">
          <input id="design_4" class="design__radio" name="design" type="radio" value="4">
          <label class="js-design-item design__item" for="design_4" data-src="images/content/conf/img_3.png">
            <span><img width="140" height="70" src="images/content/conf/img_9.jpg" alt="alt"></span>
          </label>
        </div>
        <div class="design__list-item">
          <input id="design_5" class="design__radio" name="design" type="radio" value="5">
          <label class="js-design-item design__item" for="design_5" data-src="images/content/conf/img_4.png">
            <span><img width="140" height="70" src="images/content/conf/img_10.jpg" alt="alt"></span>
          </label>
        </div>
        <div class="design__list-item">
          <input id="design_6" class="design__radio" name="design" type="radio" value="6">
          <label class="js-design-item design__item" for="design_6" data-src="images/content/conf/img_1.png">
            <span><img width="140" height="70" src="images/content/conf/img_11.jpg" alt="alt"></span>
          </label>
        </div>
        <div class="design__list-item">
          <input id="design_7" class="design__radio" name="design" type="radio" value="7">
          <label class="js-design-item design__item" for="design_7" data-src="images/content/conf/img_2.png">
            <span><img width="140" height="70" src="images/content/conf/img_12.jpg" alt="alt"></span>
          </label>
        </div>
        <div class="design__list-item">
          <input id="design_8" class="design__radio" name="design" type="radio" value="8">
          <label class="js-design-item design__item" for="design_8" data-src="images/content/conf/img_3.png">
            <span><img width="140" height="70" src="images/content/conf/img_13.jpg" alt="alt"></span>
          </label>
        </div>
        <div class="design__list-item">
          <input id="design_9" class="design__radio" name="design" type="radio" value="9">
          <label class="js-design-item design__item" for="design_9" data-src="images/content/conf/img_4.png">
            <span><img width="140" height="70" src="images/content/conf/img_14.jpg" alt="alt"></span>
          </label>
        </div>
        <div class="design__list-item">
          <input id="design_10" class="design__radio" name="design" type="radio" value="10">
          <label class="js-design-item design__item" for="design_10" data-src="images/content/conf/img_1.png">
            <span><img width="140" height="70" src="images/content/conf/img_15.jpg" alt="alt"></span>
          </label>
        </div>
        <div class="design__list-item">
          <input id="design_11" class="design__radio" name="design" type="radio" value="11">
          <label class="js-design-item design__item" for="design_11" data-src="images/content/conf/img_2.png">
            <span><img width="140" height="70" src="images/content/conf/img_16.jpg" alt="alt"></span>
          </label>
        </div>
        <div class="design__list-item">
          <input id="design_12" class="design__radio" name="design" type="radio" value="12">
          <label class="js-design-item design__item" for="design_12" data-src="images/content/conf/img_3.png">
            <span><img width="140" height="70" src="images/content/conf/img_17.jpg" alt="alt"></span>
          </label>
        </div>
      </div>
    </div>
    <div class="design__block">
      <div id="dropbox" class="upload">
        <button class="js-clear-upload upload__clear" type="button" title="Удалить изображение">
          <svg class="upload__clear-icon" aria-hidden="true">
            <use xlink:href="#menu_close" />
          </svg>
        </button>
        <label class="upload__label" for="upload_zone">
          <input id="upload_zone" class="upload__input-file" type="file">
          <span class="upload__mobile-text">Загрузить</span>
          <span class="upload__desktop-note">Одно изображение<br> в высоком разрешении<br> (Ultra 4K | 3840 : 2400)</span>
          <span class="upload__desktop-text">
            <svg class="upload__icon" aria-hidden="true">
              <use xlink:href="#upload_icon" />
            </svg><br>
            <span>перетащи сюда файл</span><br>
            <small>или <span>загрузи</span> с компьютера</small>
          </span>
        </label>
      </div>

    </div>
  </div>

  <div class="conf__nav">
    <button class="js-conf-next conf__continue" type="button">
      ПРОДОЛЖИТЬ
      <svg class="conf__continue-icon" aria-hidden="true"><use xlink:href="#continue" /></svg>
    </button>
    <button class="js-conf-next conf__next" type="button" title="Дальше">
      <svg class="conf__next-image" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
        <circle class="conf__next-circle" cx="24" cy="24" r="23.4" stroke-width="1.2"/>
        <path class="conf__next-arrow" d="M36 26.7882L24 16.2L12 26.7882" stroke-width="1.4691" stroke-linecap="round"/>
        <path class="conf__next-arrow" d="M36 32.1883L24 21.6L12 32.1883" stroke-width="1.4691" stroke-linecap="round"/>
      </svg>
    </button>
  </div>
</div>
