<div class="float-bar">
  <a class="float-bar__button" href="#" title="Дизайн">
    <svg class="float-bar__button-icon" aria-hidden="true">
      <use xlink:href="#fb_design" />
    </svg>
  </a>
  <a class="float-bar__button" href="#" title="Сохранить">
    <svg class="float-bar__button-icon" aria-hidden="true">
      <use xlink:href="#fb_save" />
    </svg>
  </a>
  <a class="float-bar__button float-bar__button--chat" href="#" title="Чат">
    <svg class="float-bar__button-icon" aria-hidden="true">
      <use xlink:href="#fb_chat" />
    </svg>
  </a>
  <a class="float-bar__button" href="#" title="Сравнение">
    <svg class="float-bar__button-icon" aria-hidden="true">
      <use xlink:href="#fb_compare" />
    </svg>
  </a>
  <a class="float-bar__button" href="#" title="Корзина">
    <svg class="float-bar__button-icon" aria-hidden="true">
      <use xlink:href="#fb_cart" />
    </svg>
  </a>
</div>
