<div class="to-top">
  <a class="to-top__button" href="#top" title="Наверх">
    <svg class="to-top__image" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
      <circle class="to-top__circle" cx="24" cy="24" r="23.4" stroke-width="1.2"/>
      <path class="to-top__arrow" d="M36 26.7882L24 16.2L12 26.7882" stroke-width="1.4691" stroke-linecap="round"/>
      <path class="to-top__arrow" d="M36 32.1883L24 21.6L12 32.1883" stroke-width="1.4691" stroke-linecap="round"/>
    </svg>
  </a>
</div>
