.conf
  display: flex
  min-height: 100vh
  padding-top: 120px
  padding-bottom: 100px

  &__section
    display: none
    height: auto
    width: 100%

    &.is-active
      display: flex

  &__section-inner
    display: flex
    flex-direction: column
    height: auto
    width: 100%

  &__title-block
    margin-bottom: 35px
    position: relative

  &__title
    color: transparent
    -webkit-text-stroke: 1px $main_color
    text-stroke: 1px $main_color
    font-family: $secondary_font
    font-size: 20px
    font-weight: 700
    line-height: 99%
    margin-bottom: 13px
    text-align: center
    text-transform: uppercase

    @media(min-width: 375px)
      font-size: 24px

    @media(min-width: 768px)
      left: 0
      margin-bottom: 0
      position: absolute
      text-align: left

    @media(min-width: 992px)
      font-size: 38px

    @media(min-width: 1200px)
      font-size: 48px
      line-height: 106%

    &--with_button
      padding-left: 43px
      padding-right: 43px
      position: relative

      @media(min-width: 414px)
        padding-left: 60px
        padding-right: 60px

      @media(min-width: 768px)
        padding-right: 0

    span
      filter: drop-shadow(0 0 3.5px #EA1C24)

    small
      font-size: 20px

      @media(min-width: 375px)
        font-size: 24px

      @media(min-width: 992px)
        font-size: 33px

      @media(min-width: 1200px)
        font-size: 42px

  &__back
    background-color: transparent
    border: none
    cursor: pointer
    height: 43px
    left: 0
    padding: 0
    position: absolute
    top: 50%
    transform: translateY(-50%)
    width: 43px

    &:hover
      .conf__back-icon
        fill: #fff

  &__back-icon
    fill: rgba(#fff, 0.5)
    filter: none
    height: 43px
    transition: fill 0.3s
    width: 43px

  &__step
    text-align: center

  &__step-number
    align-items: center
    border: 1px solid $main_color
    border-radius: 50%
    color: transparent
    filter: drop-shadow(0 0 3.5px #EA1C24)
    -webkit-text-stroke: 1px $main_color
    text-stroke: 1px $main_color
    display: flex
    font-family: $secondary_font
    font-size: 34px
    font-weight: 900
    height: 50px
    justify-content: center
    line-height: 1
    margin-left: auto
    margin-right: auto
    margin-bottom: 14px
    width: 50px

    @media(min-width: 375px)
      font-size: 40px
      height: 64px
      width: 64px

    @media(min-width: 992px)
      font-size: 52px
      height: 82px
      width: 82px

    @media(min-width: 1200px)
      font-size: 64px
      height: 100px
      width: 100px

  &__step-title
    color: #fff
    filter: drop-shadow(1px 1px 5px #fff)
    font-family: $secondary_font
    font-size: 20px
    text-transform: uppercase

    @media(min-width: 375px)
      font-size: 24px

    span
      font-weight: 700

  &__list
    display: flex
    margin-bottom: 65px
    margin-left: auto
    margin-right: auto
    max-width: 660px
    overflow-x: auto
    width: 100%

    @media(min-width: 1024px)
      max-width: 1320px

    &.slick-initialized
      overflow: visible

    .slick-list
      width: 100%

    .slick-track
      min-width: 100%

  &__list-item
    padding: 18px

    @media(min-width: 1024px)
      width: 25%

    &.slick-current
      .conf-item
        border-color: $main_color

  &__list-button
    border: 2px solid $main_color
    background-color: transparent
    border-radius: 50%
    cursor: pointer
    filter: drop-shadow(0 0 6px #EA1C24)
    height: 40px
    position: absolute
    padding: 0
    top: 180px
    width: 40px
    z-index: 1

    &.slick-disabled
      display: none !important

    &--prev
      left: -10px

      @media(min-width: 414px)
        left: 0

      @media(min-width: 768px)
        left: -40px

    &--next
      left: auto
      right: -10px

      @media(min-width: 414px)
        right: 0

      @media(min-width: 768px)
        right: -40px

  &__list-button-icon
    fill: $main_color
    height: 36px
    width: 36px

  &__design
    @media(min-width: 1900px)
      margin-top: 65px

  &__nav
    align-items: center
    display: flex
    margin-top: auto
    padding-left: 36px

    @media(min-width: 768px)
      padding-left: 48px

  &__continue
    align-items: center
    background-color: transparent
    border: none
    cursor: pointer
    filter: drop-shadow(0 0 4px $main_color)
    display: inline-flex
    color: #fff
    font-family: $secondary_font
    font-size: 12px
    font-weight: 500
    height: 44px
    margin-left: auto
    margin-right: auto
    padding: 0
    transition: color 0.3s
    text-transform: uppercase

    @media(min-width: 768px)
      font-size: 21px
      height: 70px

    &:hover
      color: $main_color

      .conf__continue-icon
        fill: $main_color

  &__continue-icon
    fill: #fff
    height: 4px
    margin-left: 12px
    transition: fill 0.3s
    width: 30px

    @media(min-width: 768px)
      width: 45px

  &__next
    background-color: transparent
    border: none
    border-radius: 50%
    cursor: pointer
    display: block
    filter: drop-shadow(0 0 4px $main_color)
    height: 36px
    padding: 0
    width: 36px

    @media(min-width: 768px)
      height: 48px
      width: 48px

    &:hover
      .conf__next-image
        filter: none

      .conf__next-circle
        fill: #fff

      .conf__next-arrow
        stroke: #0C1117

  &__next-image
    filter: drop-shadow(0 0 6px #EA1C24)
    fill: transparent
    height: 36px
    transition: filter 0.3s
    transform: rotate(90deg)
    width: 36px

    @media(min-width: 768px)
      height: 48px
      width: 48px

  &__next-arrow
    fill: transparent
    stroke: #fff
    transition: stroke 0.3s

  &__next-circle
    fill: transparent
    stroke: #fff
    transition: fill 0.3s

  &__design-file
    position: absolute
    height: 1px
    overflow: hidden
    clip: rect(0 0 0 0)
    width: 1px

.conf-item
  border-radius: 4px
  border: 3px solid #0C1117
  background-color: #0C1117
  box-shadow: 0 4px 18px 0 rgba($main_color, 0.5)
  cursor: pointer
  margin-left: auto
  margin-right: auto
  max-width: 224px
  padding: 9px
  transition: border-color 0.3s

  @media(min-width: 375px) and (max-width: 1023px)
    max-width: 280px
    padding: 15px

  @media(min-width: 1024px) and (max-width: 1199px)
    padding: 9px

  @media(min-width: 1200px)
    padding: 15px
    max-width: 280px

  &.is-active
    border-color: $main_color

  &:hover
    border-color: rgba($main_color, 0.6)

  &__image-block
    margin-bottom: 14px
    position: relative

    &::after
      bottom: 0
      border-radius: 18px
      background-image: radial-gradient(51.84% 58.28% at 42.63% 71.6%,#3a3c59 0%,#0c1117 100%)
      content: ''
      left: 0
      position: absolute
      right: 0
      top: 0
      z-index: 1

  &__image
    background-repeat: no-repeat
    background-position: 50% 50%
    background-size: 100% auto
    position: relative
    text-align: center
    z-index: 2

    &--x
      background-image: url('../images/backgrounds/conf_sizes/X.png')

    &--s
      background-image: url('../images/backgrounds/conf_sizes/S.png')

    &--m
      background-image: url('../images/backgrounds/conf_sizes/M.png')

    &--l
      background-image: url('../images/backgrounds/conf_sizes/L.png')

    img
      position: relative
      z-index: 2

  &__size
    color: #fff
    font-family: $secondary_font
    font-size: 12px
    font-weight: 700
    line-height: 106%
    position: relative
    padding-bottom: 10px
    text-transform: uppercase
    text-align: center
    z-index: 2

    @media(min-width: 768px)
      font-size: 17px

  &__perf-title
    color: #fff
    font-family: $secondary_font
    font-size: 10px
    font-weight: 700
    line-height: 1.3
    margin-bottom: 5px
    text-transform: uppercase
    text-align: center

    @media(min-width: 768px)
      font-size: 13px
      line-height: 1.23076

  &__perf
    align-items: center
    border-radius: 8px
    background-color: rgba(#fff, 0.2)
    display: flex
    justify-content: space-between
    max-width: 154px
    margin-left: auto
    margin-right: auto
    margin-bottom: 15px
    padding: 2px 5px

  &__perf-item
    background-color: rgba(#fff, 0.3)
    border-radius: 4px
    height: 6px
    width: 22px

    &.is-active
      background-color: rgba(#fff, 0.7)

  &__config-block
    text-align: center

    &:hover
      .conf-item__config-inner
        max-height: 500px

      .conf-item__config-button
        transform: rotate(180deg)

  &__config-inner
    max-height: 0
    overflow: hidden
    transition: max-height 0.5s ease-in-out
    text-align: left

    &.is-active
      max-height: 500px

  &__config-button
    background-color: transparent
    border: none
    cursor: pointer
    height: 23px
    padding: 0
    transition: transform 0.3s
    vertical-align: top
    width: 23px

    @media(min-width: 768px)
      height: 28px
      width: 28px

    &.is-active
      transform: rotate(180deg)

  &__config-button-icon
    fill: rgba(#fff, 0.5)
    height: 23px
    width: 23px

    @media(min-width: 768px)
      height: 28px
      width: 28px

.part
  align-items: center
  color: #fff
  display: flex
  min-height: 57px

  &--button
    cursor: pointer
    position: relative
    padding-right: 40px

    &::after
      content: ''
      position: absolute
      top: 50%
      width: 10px
      height: 10px
      border-bottom: 2px solid #fff
      border-left: 2px solid #fff
      transition: .3s
      width: 11px
      height: 11px
      top: 12px
      right: 16px
      transform: rotateZ(-45deg)

    &.is-active
      &::after
        transform: translateY(50%) rotateZ(135deg)

  &__icon
    fill: #fff
    height: 28px
    min-width: 28px
    margin-right: 6px
    width: 28px

  &__title
    font-family: $secondary_font
    font-size: 14px
    font-weight: 700
    line-height: 1
    margin-bottom: 3px

  &__description
    font-size: 10px
    line-height: 1.3

.parts-dropdown
  display: none

  &__controls
    margin-bottom: 15px

  &__controls-wrap
    display: flex
    overflow-x: auto

  &__controls-button
    background-color: transparent
    border-radius: 20px
    border: none
    cursor: pointer
    color: #fff
    font-weight: 800
    font-size: 14px
    line-height: 17px
    padding: 12px 18px
    text-align: center
    white-space: nowrap

    &:not(:last-child)
      margin-right: 15px

    &:first-child
      margin-left: auto

    &:last-child
      margin-right: auto

    &.is-active
      background-color: rgba(#fff, 0.2)

  &__tab
    display: none

    &.is-active
      display: block

.products-list
  list-style: none
  margin: 0
  padding: 0

  &--tile
    display: flex
    flex-wrap: wrap
    margin-left: -5px
    margin-right: -5px
    margin-bottom: -24px

    .products-list__item
      display: flex
      padding-left: 5px
      padding-right: 5px
      margin-bottom: 24px
      width: 50%

      &:not(:last-child)
        margin-bottom: 24px

      &:nth-child(odd)
        .product-card__tooltip
          left: 50%
          margin-left: 20px
          right: auto
          transform: translateX(-50%)

          &::after
            left: 120px
            right: auto

    .product-card
      display: flex
      width: 100%

    .product-card__wrap
      flex-direction: column
      padding-bottom: 40px
      position: relative
      width: 100%

    .product-card__img-wrap
      margin-bottom: 9px
      margin-right: 0

    .product-card__description
      flex-grow: 0

    .product-card__title
      font-size: 10px
      font-weight: 500
      margin-bottom: 0

    .product-card__aside
      position: static

    .product-card__tooltip-btn
      left: auto
      position: absolute
      right: 5px
      top: 5px

    .product-card__radio-icon
      bottom: 10px
      left: auto
      position: absolute
      right: 5px
      top: auto

  &__item
    &:not(:last-child)
      margin-bottom: 5px

.product-card
  display: block

  &__radio
    position: absolute
    width: 1px
    height: 1px
    margin: -1px
    border: 0
    clip: rect(0 0 0 0)
    overflow: hidden

    &:checked + .product-card__wrap
      border-color: rgba(#EA1C24, 0.2)

    &:checked + .product-card__wrap .product-card__radio-icon
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='20' height='20' rx='10' fill='%23EA1C24' fill-opacity='0.1'/%3E%3Crect x='0.742115' y='0.742115' width='18.5158' height='18.5158' rx='9.25788' stroke='%23EA1C24' stroke-opacity='0.2' stroke-width='1.48423'/%3E%3Ccircle cx='10' cy='10' r='7' fill='%23EA1C24' fill-opacity='0.8'/%3E%3C/svg%3E%0A")

  &__wrap
    border-radius: 5px
    border: 2px solid transparent
    display: flex
    padding: 7px
    transition: border-color 0.3s

  &__img-wrap
    display: flex
    justify-content: center
    align-items: center
    flex-shrink: 0
    margin-right: 9px
    width: 50px
    height: 50px

  &__description
    flex-grow: 1
    display: flex
    flex-direction: column
    justify-content: center
    padding-right: 10px

  &__title
    color: #EAEAEA
    margin-bottom: 4px
    font-family: $secondary_font
    font-size: 12px
    line-height: 15px
    font-weight: 600

  &__prop
    font-size: 10px
    line-height: 12px
    font-weight: 400
    margin-bottom: 0

  &__quantity
    margin-left: auto
    margin-right: 25px

  &__aside
    position: relative
    display: flex
    flex-direction: column
    justify-content: space-between
    margin-left: auto

  &__tooltip-btn
    cursor: pointer
    position: relative
    width: 20px
    height: 20px
    border: none
    font-size: 17px
    font-weight: 500
    color: #000
    background-color: rgba(#fff, 0.3)
    border-radius: 50%
    padding: 0
    z-index: 1

    &.is-active
      z-index: 3

      .product-card__tooltip
        visibility: visible
        opacity: 1
        pointer-events: auto

  &__tooltip
    backdrop-filter: blur(40px)
    visibility: hidden
    pointer-events: none
    opacity: 0
    position: absolute
    top: 32px
    right: -20px
    width: 280px
    padding: 20px
    font-weight: normal
    font-size: 12px
    line-height: 1.15
    color: #fff
    background-color: rgba(#000, 0.6)
    transition-property: visibility, opacity
    transition-duration: 0.3
    text-align: left
    border-radius: 6px
    z-index: 3

    &::after
      backdrop-filter: blur(40px)
      bottom: 100%
      left: auto
      right: 20px
      border: solid transparent
      content: ''
      height: 0
      width: 0
      position: absolute
      pointer-events: none
      border-color: rgba(0, 0, 0, 0)
      border-bottom-color: rgba(#000, 0.6)
      border-width: 10px

  &__radio-icon
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='20' height='20' rx='10' fill='white' fill-opacity='0.12'/%3E%3Crect x='0.742115' y='0.742115' width='18.5158' height='18.5158' rx='9.25788' stroke='white' stroke-opacity='0.3' stroke-width='1.48423'/%3E%3C/svg%3E%0A")
    display: block
    width: 20px
    height: 20px
    border-radius: 50%
    position: relative

.design
  margin-left: auto
  margin-right: auto
  margin-bottom: 65px
  max-width: 243px

  @media(min-width: 768px)
    display: flex
    flex-wrap: wrap
    justify-content: center
    margin-left: -10px
    margin-right: -10px
    max-width: 100%

  @media(min-width: 1900px)
    margin-left: -20px
    margin-right: -20px

  &__block
    @media(min-width: 768px)
      display: flex
      padding-left: 10px
      padding-right: 10px
      width: 50%

    @media(min-width: 992px)
      width: 33.33333%

    @media(min-width: 1900px)
      padding-left: 20px
      padding-right: 20px

    &:not(:last-child)
      margin-bottom: 13px

      @media(min-width: 992px)
        margin-bottom: 0

    &:nth-child(1)
      @media(min-width: 768px)
        order: 2

      @media(min-width: 992px)
        max-width: 465px
        order: 3

    &:nth-child(2)
      @media(min-width: 768px)
        order: 1

      @media(min-width: 992px)
        max-width: 496px

    &:nth-child(3)
      @media(min-width: 768px)
        order: 3
        width: 100%

      @media(min-width: 992px)
        max-width: 550px
        order: 2
        width: 33.33333%

    & > *
      @media(min-width: 768px)
        min-width: 100%

  &__image
    align-items: center
    border-radius: 6px
    box-shadow: 0 0 6px 0 $main_color
    background-image: radial-gradient(11em, #2F4258, #0C1117)
    display: flex
    justify-content: center
    min-height: 174px
    overflow: hidden
    position: relative

    @media(min-width: 768px)
      border-radius: 10px
      box-shadow: 0 0 10px 0 $main_color

    @media(min-width: 1200px)
      min-height: 330px
      width: 425px

    img
      height: calc(100% - 12px)
      left: 50%
      position: absolute
      top: 50%
      transform: translate(-50%, -50%)
      width: auto

  &__list
    align-content: flex-start
    display: flex
    flex-wrap: wrap
    max-width: 478px
    margin-left: -5px
    margin-right: -5px
    margin-bottom: -8px

    @media(min-width: 1900px)
      margin-bottom: -16px
      margin-left: -10px
      margin-right: -10px

  &__list-item
    margin-bottom: 8px
    position: relative
    padding-left: 5px
    padding-right: 5px
    width: 33.33333%

    @media(min-width: 1900px)
      margin-bottom: 16px
      padding-left: 10px
      padding-right: 10px

  &__radio
    position: absolute
    height: 1px
    overflow: hidden
    clip: rect(0 0 0 0)
    width: 1px

    &:checked + .design__item
      &::after
        border-color: $main_color
        box-shadow: 0 0 4px 0 $main_color

  &__item
    border-radius: 3px
    cursor: pointer
    display: block
    position: relative

    &:hover
      &::after
        box-shadow: 0 0 4px 0 $main_color
        border-color: rgba($main_color, 0.8)

    &::after
      bottom: 0
      border: 2px solid rgba(#fff, 0.6)
      border-radius: 3px
      content: ''
      left: 0
      position: absolute
      right: 0
      top: 0
      transition: border-color 0.3s, box-shadow 0.3s
      z-index: 1

    img
      border-radius: 3px

.upload
  align-items: center
  border: 1px dashed rgba(#fff, 0.2)
  background-color: rgba(#fff, 0.1)
  border-radius: 2px
  background-position: 50% 50%
  background-repeat: no-repeat
  background-size: cover
  cursor: pointer
  display: flex
  height: 100%
  min-height: 155px
  position: relative
  justify-content: center
  transition: background-color 0.3s, border-color 0.3s

  @media(min-width: 768px)
    border-radius: 10px
    border: 2px dashed rgba($main_color, 0.8)
    min-height: 270px
    padding-top: 80px

  &:hover
    background-color: rgba(#fff, 0.5)
    border-color: rgba(#fff, 0.7)

  &.uploaded
    .upload__desktop-note,
    .upload__desktop-text,
    .upload__mobile-text
      opacity: 0

    .upload__clear
      display: flex

  &__clear
    align-items: center
    border: none
    background-color: rgba(#fff, 0.3)
    border-radius: 6px
    cursor: pointer
    display: none
    height: 40px
    justify-content: center
    left: auto
    padding: 0
    position: absolute
    right: 10px
    top: 10px
    width: 40px
    z-index: 2

    @media(min-width: 768px)
      right: 24px
      top: 24px

  &__clear-icon
    fill: #fff
    height: 16px
    width: 16px

  &__label
    bottom: 0
    cursor: pointer
    left: 0
    position: absolute
    right: 0
    top: 0
    z-index: 1

  &__input-file
    position: absolute
    height: 1px
    overflow: hidden
    clip: rect(0 0 0 0)
    width: 1px

  &__mobile-text
    display: block
    font-size: 9px
    line-height: 1
    text-align: center

    @media(min-width: 768px)
      display: none

    span
      color: $main_color
      font-size: 9px
      font-weight: 700
      text-transform: uppercase

    small
      color: rgba(#fff, 0.3)

  &__mobile-icon
    fill: rgba(#fff, 0.3)
    height: 39px
    margin-bottom: 7px
    width: 33px

  &__desktop-note
    display: none

    @media(min-width: 768px)
      background-image: url("data:image/svg+xml,%3Csvg width='37' height='33' viewBox='0 0 37 33' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.39604 0C1.52046 0 0 1.52045 0 3.39603V28.6261C0 30.5016 1.52046 32.0221 3.39604 32.0221H33.4028C35.2784 32.0221 36.7989 30.5016 36.7989 28.6261V3.39604C36.7989 1.52046 35.2784 0 33.4028 0H3.39604ZM25.3081 10.8348C27.1391 10.8348 28.6233 9.35053 28.6233 7.5196C28.6233 5.68868 27.1391 4.20442 25.3081 4.20442C23.4772 4.20442 21.993 5.68868 21.993 7.5196C21.993 9.35053 23.4772 10.8348 25.3081 10.8348ZM11.9667 10.8349L21.508 19.4248L24.5806 16.1239L35.2539 27.0065H1.61692L11.9667 10.8349Z' fill-opacity='0.5' fill='%23ffffff'/%3E%3C/svg%3E")
      background-position: 0 0
      background-repeat: no-repeat
      background-color: transparent
      color: rgba(#fff, 0.5)
      display: block
      font-size: 9px
      line-height: 1.2
      left: 24px
      min-height: 33px
      position: absolute
      top: 24px
      padding-left: 45px

  &__icon
    fill: rgba(#fff, 0.5)
    height: 77px
    margin-bottom: 18px
    transition: fill 0.3s
    width: 64px

  &__desktop-text
    display: none

    @media(min-width: 768px)
      color: rgba(#fff, 0.5)
      display: block
      font-size: 18px
      font-weight: 700
      line-height: 1
      text-transform: uppercase
      text-align: center

    small
      font-size: 14px
      font-weight: 400

      span
        color: $main_color

.pcm
  @media(min-width: 768px)
    display: none

  &__image-block
    height: 276px
    margin-bottom: 14px
    margin-left: auto
    margin-right: auto
    max-width: 294px
    position: relative
    z-index: 1

    &::after
      bottom: 0
      border-radius: 21px
      background-image: radial-gradient(51.84% 58.28% at 42.63% 71.6%,#3a3c59 0%,#0c1117 100%)
      content: ''
      left: 0
      position: absolute
      right: 0
      top: 0
      z-index: 1

  &__image
    background-repeat: no-repeat
    background-position: 50% 50%
    background-size: 100% auto
    margin-left: auto
    margin-right: auto
    max-width: 224px
    position: relative
    text-align: center
    z-index: 2

    &--x
      background-image: url('../images/backgrounds/conf_sizes/X.png')

    &--s
      background-image: url('../images/backgrounds/conf_sizes/S.png')

    &--m
      background-image: url('../images/backgrounds/conf_sizes/M.png')

    &--l
      background-image: url('../images/backgrounds/conf_sizes/L.png')

    img
      position: relative
      z-index: 2

  &__price-wrap
    align-items: flex-end
    display: flex
    max-width: 240px
    margin: -72px auto 30px
    justify-content: space-between
    position: relative
    z-index: 2

    .btn-buy
      border: 1px solid rgba(212,60,56,.5)
      box-shadow: 0 3.9px 3.9px #0c1117
      color: #fff
      font-family: $secondary_font
      font-weight: 900
      font-size: 16px
      line-height: 20px
      min-width: 114px
      min-height: 42px
      padding: 10px
      text-transform: capitalize
      text-align: center
      transition: background-color 0.3s
      text-decoration: none

      &:hover
        background-color: rgba(212,60,56,.5)

  &__price
    align-items: flex-end
    color: #fff
    display: flex
    flex-direction: column

    p
      font-weight: 700
      font-family: $secondary_font
      font-size: 21px
      line-height: 22px
      margin-bottom: 6px

    small
      font-size: 9px
      line-height: 11px

  &__controls
    position: sticky
    top: 90px
    margin: 0 auto 5px
    width: 100%
    padding: 10px 25px
    background: #0c1117
    -webkit-box-shadow: 0 -.94px 23px rgba(234,28,36,.5)
    box-shadow: 0 -.94px 23px rgba(234,28,36,.5)
    border-radius: 40px
    z-index: 3

    @media(min-width: 375px)
      width: calc(100% - 21px)

  &__controls-button
    background-color: transparent
    border: none
    cursor: pointer
    height: 40px
    padding: 0
    position: absolute
    top: 50%
    transform: translateY(-50%)
    width: 40px
    z-index: 1

    &--prev
      left: -16px

      &::before
        left: 33px
        transform: translate(-50%,-50%) rotate(45deg)

    &--next
      left: auto
      right: -16px

      &::before
        left: auto
        right: 33px
        transform: translate(50%,-50%) rotate(-135deg)

    &.slick-disabled
      &::before
        border-color: rgba(#fff, 0.2)

    &::before
      content: ''
      position: absolute
      top: 50%
      width: 10px
      height: 10px
      border-bottom: 2px solid #fff
      border-bottom-color: rgb(255, 255, 255)
      border-left: 2px solid #fff
      border-left-color: rgb(255, 255, 255)
      transition: .3s

  &__buttons-wrapper
    display: flex
    overflow-x: scroll
    scrollbar-width: none

  &__btn-action
    color: #fff
    padding: 12px 18px
    flex-grow: 1
    font-weight: 800
    font-size: 14px
    line-height: 17px
    background-color: rgba(#fff, 0.1)
    border-radius: 20px
    text-align: center
    border: none
    cursor: pointer

    &:not(:last-child)
      margin-right: 15px

    &.is-active
      background-color: rgba($main_color, 0.5)

  &__slider
    display: flex
    overflow-x: auto
    width: 100%

    &.slick-initialized
      overflow: visible

    .slick-list
      width: 100%

    .slick-track
      min-width: 100%

  &__slide
    width: 100%

    .extra-service
      margin-left: auto
      margin-right: auto
      max-width: 295px
      padding-top: 12px

    .design
      padding-top: 18px

  &__parts
    padding-left: 15px
    padding-right: 15px

    @media(min-width: 375px)
      padding-left: 40px
      padding-right: 40px

    @media(min-width: 414px)
      padding-left: 50px
      padding-right: 50px

.extra-service
  &:not(:last-child)
    margin-bottom: 20px

  &__title-block
    align-items: center
    border-bottom: 2px dashed rgba($main_color, 0.5)
    display: flex
    margin-bottom: 13px
    padding-bottom: 13px

  &__icon
    fill: #fff
    height: 34px
    margin-right: 11px
    width: 34px

  &__title
    color: #fff
    font-family: $secondary_font

    b
      font-size: 17px
      line-height: 20px

    small
      font-size: 12px
      line-height: 1.2

  &__list
    color: #fff
    font-size: 12px
    list-style: none
    margin: 0
    padding: 0

    li
      background-image: url("data:image/svg+xml,%3Csvg width='7' height='13' viewBox='0 0 7 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.999598 12L5.85254 6.5L0.999599 1' stroke='white' stroke-width='0.693277' stroke-linecap='round'/%3E%3C/svg%3E%0A")
      background-position: 7px 50%
      background-repeat: no-repeat
      padding-left: 20px

      &:not(:last-child)
        margin-bottom: 11px

.pcd
  display: none

  @media(min-width: 768px)
    display: block
