.hero-23
  padding-top: 50px
  padding-bottom: 50px

  @media(min-width: 1900px)
    padding-top: 80px
    padding-bottom: 150px

  &__container

  &__title
    color: #fff
    font-family: $secondary_font
    font-size: 18px
    font-weight: 700
    letter-spacing: 3px
    margin-bottom: 30px
    text-transform: uppercase
    text-align: center

    @media(min-width: 768px)
      font-size: 33px

    @media(min-width: 1900px)
      font-size: 48px
      margin-bottom: 50px
